@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("./css/home/header.css");
@import url("./css/home/parallax.css");
@font-face {
  font-family: "PxGrotesk-Screen";
  src: url("../fonts/PxGrotesk-Screen.eot");
  src: url("../fonts/PxGrotesk-Screen.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PxGrotesk-Screen.woff2") format("woff2"),
    url("../fonts/PxGrotesk-Screen.woff") format("woff"),
    url("../fonts/PxGrotesk-Screen.ttf") format("truetype"),
    url("../fonts/PxGrotesk-Screen.svg#PxGrotesk-Screen") format("svg");
}
@font-face {
  font-family: "PxGrotesk";
  src: url("../fonts/PxGrotesk-Bold.eot");
  src: url("../fonts/PxGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PxGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/PxGrotesk-Bold.woff") format("woff"),
    url("../fonts/PxGrotesk-Bold.ttf") format("truetype"),
    url("../fonts/PxGrotesk-Bold.svg#PxGrotesk-Bold") format("svg");
  font-weight: bold;
}
@font-face {
  font-family: "PxGrotesk";
  src: url("../fonts/PxGroteskRegular.eot");
  src: url("../fonts/PxGroteskRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PxGroteskRegular.woff2") format("woff2"),
    url("../fonts/PxGroteskRegular.woff") format("woff"),
    url("../fonts/PxGroteskRegular.ttf") format("truetype"),
    url("../fonts/PxGroteskRegular.svg#PxGroteskRegular") format("svg");
}
@font-face {
  font-family: "PxGrotesk";
  src: url("../fonts/PxGrotesk-Light.eot");
  src: url("../fonts/PxGrotesk-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PxGrotesk-Light.woff2") format("woff2"),
    url("../fonts/PxGrotesk-Light.woff") format("woff"),
    url("../fonts/PxGrotesk-Light.ttf") format("truetype"),
    url("../fonts/PxGrotesk-Light.svg#PxGrotesk-Light") format("svg");
  font-weight: 100;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Thin.eot");
  src: url("../fonts/Plain-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Plain-Thin.woff2") format("woff2"),
    url("../fonts/Plain-Thin.woff") format("woff"),
    url("../fonts/Plain-Thin.ttf") format("truetype"),
    url("../fonts/Plain-Thin.svg#PxGrotesk-Light") format("svg");
  font-weight: bold;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Ultralight.eot");
  src: url("../fonts/Plain-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Plain-Ultralight.woff2") format("woff2"),
    url("../fonts/Plain-Ultralight.woff") format("woff"),
    url("../fonts/Plain-Ultralight.ttf") format("truetype"),
    url("../fonts/Plain-Ultralight.svg#PxGrotesk-Light") format("svg");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.byName {
  position: fixed;
  bottom: 10px;
  left: 30px;
  z-index: 100;
  font-family: "Bad Script", cursive;
  display: flex;
}

.byName span {
  font-size: 20px;
  display: table-cell;
  animation: byNameAnimate 2.25s ease-in-out infinite;
}

/* .byName span:nth-child(1) {
  animation-delay: 0.25s;
}
.byName span:nth-child(2) {
  animation-delay: 0.5s;
}
.byName span:nth-child(3) {
  animation-delay: 0.75s;
}
.byName span:nth-child(4) {
  animation-delay: 1s;
}
.byName span:nth-child(5) {
  animation-delay: 1.25s;
}
.byName span:nth-child(6) {
  animation-delay: 1.5s;
}
.byName span:nth-child(7) {
  animation-delay: 1.75s;
}
.byName span:nth-child(8) {
  animation-delay: 2s;
}
.byName span:nth-child(9f) {
  animation-delay: 2.25s;
} */

@keyframes byNameAnimate {
  0%,
  90% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

.hero {
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* background: url(./img/background.png) center/cover no-repeat; */
  background: #000;
}

.loader {
  position: relative;
  --sizeLoader: 100px;
  --locationloader: 50px;
  width: var(--sizeLoader);
  height: var(--sizeLoader);
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: loading 2s linear infinite;
  position: absolute;
  right: var(--locationloader);
  bottom: var(--locationloader);
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 2;
}

.loader::after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  z-index: 1;
  filter: blur(30px);
}

.headLine {
  width: 85%;
  margin: auto;
  color: #fff;
  text-align: center;
}

.headLine h1 {
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
  margin-top: 40px;
}

.headLine h2 {
  --fontsizeh2HeadLine: 32px;
  line-height: 1;
  font-size: var(--fontsizeh2HeadLine);
  position: relative;
}

.headLine h2:nth-child(1) {
  color: #fff;
}

.headLine h2:before {
  content: "Welcome to our";
  font-size: var(--fontsizeh2HeadLine);
  position: absolute;
  left: 0;
  top: 0;
  color: #03a9f4;
  animation: waterText 4s ease-in-out infinite;
  display: none;
}

@keyframes waterText {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.headLine h1 span {
  letter-spacing: 10px;
}

.headLine a {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  font-size: 30px;
  transition: 0.3s;
  transition-property: background, box-shadow;
}

.headLine a:hover {
  color: #255784;
  background: #1bd2ee;
  box-shadow: 0 0 10px #1bd2ee, 0 0 40px #1bd2ee, 0 0 80px #1bd2ee;
}

.headLine a span {
  position: absolute;
  display: block;
}

.headLine a span:nth-of-type(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1bd2ee);
  animation: loadingbtn1 1s linear infinite;
}

@keyframes loadingbtn1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.headLine a span:nth-of-type(2) {
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1bd2ee);
  animation: loadingbtn2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes loadingbtn2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.headLine a span:nth-of-type(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1bd2ee);
  animation: loadingbtn3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes loadingbtn3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.headLine a span:nth-of-type(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1bd2ee);
  animation: loadingbtn4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes loadingbtn4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
  opacity: 0;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 3s;
}

.bubbles img:nth-child(2) {
  animation-delay: 5s;
}

.bubbles img:nth-child(3) {
  animation-delay: 4s;
}

.bubbles img:nth-child(4) {
  animation-delay: 1s;
}

.bubbles img:nth-child(5) {
  animation-delay: 3s;
}

.bubbles img:nth-child(6) {
  animation-delay: 2s;
}

.bubbles img:nth-child(7) {
  animation-delay: 6s;
}

@media (min-width: 768px) {
  .hero .wrapper .headLine h1 {
    font-size: 40px;
  }

  .hero .wrapper .headLine h2 {
    --fontsizeh2HeadLine: 60px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }

  .hero .wrapper .headLine h2::before {
    display: block;
  }

  .hero .wrapper .headLine {
    text-align: unset;
  }
}

@media (min-width: 1024px) {
  .hero .wrapper .headLine h1 {
    font-size: 50px;
  }

  .hero .wrapper .headLine h1 span {
    letter-spacing: 15px;
  }

  .hero .wrapper .headLine h2 {
    --fontsizeh2HeadLine: 72px;
  }
}
